h1 {
  text-align: center;
  font-family: "Handlee", cursive;
  font-size: 70px;
  padding: 30px;
  font-weight: bold;
  color: #113f67;
}
body {
  background-color: #113f67;
}
sup {
  font-size: 15px;
}
footer {
  font-size: 12px;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 4px;
}
div {
  display: block;
}

.weather {
  background: linear-gradient(to top, #dfe9f3 0%, white 100%);
  border-radius: 16px;
  box-shadow: 0 30px 50px rgb(65 50 100 / 8%);
  font-family: "Montserrat", sans-serif;
  color: #113f67;
  max-width: 580px;
  margin: 0 auto;
}
.app {
  margin: 60px auto;
}
.form {
  text-align: center;
  padding: 10px;
  margin-bottom: 20px;
}
.enter-city {
  background-color: rgb(253, 249, 245);
  border-radius: 10px;
  border: 2px solid #113f67;
  padding: 5px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.search {
  background-color: #113f67;
  color: rgb(253, 249, 245);
  font-weight: 600;
  border-radius: 10px;
  border: 2px solid #113f67;
  padding: 5px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.current {
  background-color: #113f67;
  color: rgb(253, 249, 245);
  font-weight: 600;
  border-radius: 10px;
  border: 2px solid #113f67;
  padding: 5px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.main-city {
  font-size: 40px;
  text-align: center;
  padding-left: 30px;
}
.date-today {
  font-size: 15px;
  text-align: center;
  padding-left: 30px;
}
.main-image {
  font-size: 40px;
  text-align: center;
}
.temperature {
  font-size: 28px;
  text-align: center;
}
.description {
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  padding-right: 30px;
}
.description:first-letter {
  text-transform: capitalize;
}
.humidity {
  font-size: 15px;
  text-align: center;
  padding-right: 30px;
}
.wind {
  font-size: 15px;
  text-align: center;
  padding-right: 30px;
}

.forecast {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.forecast-element {
  border: 1px solid #113f67;
  margin-top: 30px;
  margin-left: 10px;
  text-align: center;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  width: 90px;
}

.forecast-temperature-min {
  opacity: 0.7;
}
.celsius {
  font-size: smaller;
}

.gitHub-link {
  color: #113f67;
  font-weight: 600;
  text-decoration: none;
}
.gitHub-link:hover {
  color: rgb(210, 179, 133);
}

.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
